@import url("https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@30.1.0/dist/font-face.css");

:root {
  --font-sans: "Vazir", Arial, Helvetica, sans-serif;
  --color-background: #f9f9f9; /* روشن و نرم */
  --color-foreground: #171717;
  --color-card: #ffffff;
  --color-card-dark: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
    --color-card: #1a1a1a;
    --color-card-dark: #222222;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* Scrollbar خوشگل */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #666;
}
